<div class="text-center">
<div id="nav-border" class="nav-container desktop">
    <nav id="nav" class="nav justify-content-center text-center">
			{{ $currentPage := . }}
      {{ range .Site.Menus.main }}
			{{ $menu_item_url := .URL | relLangURL }}
			{{ $page_url:= $currentPage.RelPermalink | relLangURL }}
	    <a class="nav-link {{ if eq $menu_item_url $page_url }}active{{ end }}" href="{{ .URL }}">
				{{ $text := print .Name | safeHTML }}
				{{ $text }}
	    </a>
        {{ end }}
    </nav>
</div>

<div id="nav-border" class="nav-container mobile">
    <nav id="nav" class="nav justify-content-center text-center">
			{{ $menu_item_url := .URL | relLangURL }}
	    <a class="nav-link {{ if .IsHome  }}active{{ end }}" href="{{ .Site.BaseURL }}">
				<!-- {{ $text := print .Name | safeHTML }}
						 {{ $text }} -->
				{{ $text := print .Site.Home.Name | safeHTML }}
				{{ $text }}
	    </a>
    </nav>
</div>
</div>
