{{ define "main" }}
<div class="projects_title">
	<text class="large-text rotate90">{{ .Title }}</text>
</div>
<div class="cards">
{{ range .Pages.ByPublishDate.Reverse }}
	<div class="card_item">
		<div class="card_top">
			<!-- image here -->
			{{ $img := "/default-image.jpg" }}
			{{ if (isset .Params "image" )}}
				{{ $img = .Params.image }}
			{{ end }}
			<img src="{{ $img }}">
		</div>
		<div class="card_bottom flex-column">
				<h3><a class="title" href="{{ .Params.link }}">{{ .Title }}</a></h3>
				<!-- {{ partial "metadata.html" . }} -->
				<div class="flex1">
					<a class="summary" href="{{ .Params.link }}">
						<p>{{ .Summary }}</p>
					</a>
				</div>

				<div class="icon-row">
					{{ if (isset .Params "post") }}
					<a href="{{ .Params.post }}">
						{{ partial  "feather.html" "book-open" }}
					</a>
					{{ end }}
					{{ if (isset .Params "github") }}
					<a href="{{ .Params.github }}">
						{{ partial  "feather.html" "github" }}
					</a>
					{{ end }}
					{{ if (isset .Params "link") }}
					<a href="{{ .Params.link }}">
						{{ partial  "feather.html" "globe" }}
					</a>
					{{ end }}
				</div>
		</div>	
	</div>
{{ end }}
</div>
{{ end }}
