{{ define "main" }}
<div class="projects_title">
	<text class="large-text rotate90">{{ .Title }}</text>
</div>
<div class="cards">
{{ range .Pages.ByPublishDate.Reverse }}
	<div class="card_item">
		<div class="card_top">
			<!-- image here -->
		</div>
		<div class="card_bottom">
			<div>
				<h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
				<!-- {{ partial "metadata.html" . }} -->
				<a class="summary" href="{{ .RelPermalink }}">
					<p>{{ .Summary }}</p>
				</a>

				<div class="icon-row">
				</div>
			</div>
		</div>	
	</div>
{{ end }}
</div>
{{ end }}
